# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migrations
**/migrations/

# Ignore SQLite database
*.sqlite3

# Ignore environment variables
.env

# Ignore IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
