<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak Kami</title>
    <style>
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #e6f7ff;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #005f73;
        }

        p {
            color: #0a8396;
        }
    </style>
</head>
<body>
    <h1>Kontak</h1>
    <p>Hubungi kami di kelompok4@gmail.com atau telepon +6281234567890</p>
</body>
</html>