<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Produk</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5dc;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #2e8b57;
        }
        p {
            color: #556b2f;
        }
    </style>
</head>
<body>
    <h1>Detail Produk {{ produk_id }}</h1>
    <p>Ini adalah detail produk dengan ID: {{ produk_id }}</p>
</body>
</html>